<section class="dice-tray">
  <div class="dice-tray__buttons flexrow">
    {{#each dice as |label key|}}
      <button class="dice-tray__button" data-formula="{{key}}" title="{{key}}"><span class="dice-tray__flag dice-tray__flag--{{key}} hide"></span>{{> (dtSvgDie key) }}</button>
    {{/each}}
  </div>
  <div class="dice-tray__math flexrow">
    <button class="dice-tray__math dice-tray__math--sub" data-formula="-1">-</button>
    <input class="dice-tray__input" name="dice.tray.modifier" type="text" value="0"/>
    <button class="dice-tray__math dice-tray__math--add" data-formula="+1">+</button>
    <div id="dice-tray-math" hidden></div>
    <button class="dice-tray__roll">Roll!</button>
  </div>
</section>